NS=infra-nvidia-gpu-operator
HELM_REPO_ALIAS=nv-gpu-op
CONTAINER_IMAGES="
"
WAIT_STATEFULSETS="
"
WAIT_DEPLOYS="
gpu-operator-node-feature-discovery-gc
gpu-operator
gpu-operator-node-feature-discovery-master
"
#WAIT_DAEMONSETS="
#app.kubernetes.io/name=node-feature-discovery
#app=nvidia-operator-validator
#app=nvidia-device-plugin-daemonset
#app=nvidia-dcgm-exporter
#app=gpu-feature-discovery
#"
