ts=$(date "+%s")
kubectl run mongodb-cli-$ts --rm --tty -i --restart='Never' --image mongo:7.0.5-jammy --namespace db --env MONGODB_ROOT_PASSWORD=$(kubectl get secret --namespace db mongodb -o jsonpath="{.data.mongodb-root-password}" | base64 -d) --command -- bash -c 'mongosh "mongodb://mongodb.db.svc.cluster.local:27017/admin"'
