NS=$NAMESPACE DEPLOYMENT="jaeger-operator" ../scripts/k8s-wait-deployment.sh
NS=$NAMESPACE LABELS="app.kubernetes.io/name=jaeger-operator" ../scripts/k8s-wait-pod.sh
NS=$NAMESPACE DEPLOYMENT="jaeger-operator-jaeger" ../scripts/k8s-wait-deployment.sh
NS=$NAMESPACE LABELS="app.kubernetes.io/name=jaeger-operator-jaeger" ../scripts/k8s-wait-pod.sh
